@media only screen and (max-width:740px){
    #wrappper {width: 100%; }
    h3{text-align: center;}
}
@media only screen and (max-width:570px){
    #wrappper { width: 100%;}
    h3{text-align: center;}
}
@media only screen and (max-width:480px){
    #wrappper {width: 100%; }
    h3{text-align: center;}
}