@media only screen and (max-width:740px){
    #wrappper { background : #777;}
}
@media only screen and (max-width:570px){
    #wrappper { background : #7f7;}
}
@media only screen and (max-width:480px){
    #wrappper { background : #77f;}
}