html, button, input, select, textarea{
color: #000;
}
html{ font-
size: 1em; line-
height: 1.4;}
.page { 
  width : 820px;
  margin : auto;
  font-size : 16px;
  font-family: 'Source sans Pro';
  background-color:#FFCCFF;

}
img {
  float: right;
  width: 150px;
  height: 150px;
}
  .wrapper {
  margin-right: auto; 
  margin-left:  auto; 

  max-width: 900px;
  min-width: 320px;

  padding-right: 10px;
  padding-left:  10px;
   
}

#c2{
  display: none;
}
#c3{
  display: none;
}
#c4{
  display: none;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  font-size: 10px;
  visibility: hidden;
  width: 120px;
  background-color: rgb(68, 128, 207);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(212, 182, 9) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

